/* src/styles/Address.css */
@font-face {
     font-family: 'ms-light';
     src: url('../assets/fonts/montserrat/ms-light.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'ms-bold';
     src: url('../assets/fonts/montserrat/ms-bold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'ms-regular';
     src: url('../assets/fonts/montserrat/ms-regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'veryberry';
     src: url('../assets/fonts/veryberry.otf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
      font-family: 'melina';
      src: url('../assets/fonts/Melina.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }
.address-container {
    max-width: 400px;
    width: 90%; /* Genişliği %90 ayarlayarak küçük ekranlara uyum sağlar */
    padding: 1rem;
    margin: 0 auto;
    background-color: #990011;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
   }
   
   .address-container h2 {
     font-size: 2.5rem;
     color:  #FCF6F5;
     font-family: 'veryberry';
   }
   
   .restaurant-name {
     font-size: 1.3rem;
     color: #FCF6F5;
     margin-bottom: 0.3rem;
     font-family: 'ms-bold';
   }
   
   .city {
     font-size: 1.1rem;
     color: #FCF6F5;
     margin-bottom: 0.5rem;
     font-family:'ms-regular';
   }
   
   .full-address {
     font-size: 1rem;
     color: #FCF6F5;
     margin-bottom: 1rem;
     font-family:'ms-light';
   }
   
   .location-button {
     width: 50%;
     padding: 0.7rem;
     background-color: #fcf6fc;
     color: #990011;
     border: none;
     border-radius: 25px;
     font-size: 1.5rem;
     cursor: pointer;
     transition: background-color 0.3s;
     font-family: 'ms-bold';
   }
   
   .location-button:hover {
     background-color: #d7c0b1;
   }
   .owner-container {
      max-width: 400px;
      width: 90%; /* Genişliği %90 ayarlayarak küçük ekranlara uyum sağlar */
      padding: 1rem;
      margin: 0 auto;
      background-color: #fff;
      text-align: center;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      
   }
   .owner-container h2 {
     font-size: 2.5rem;
     color:  #990011;
     font-family: 'veryberry';
   }
   .name {
     font-size: 1.9rem;
     color: #333;
     margin-bottom: 0.3rem;
     font-family: 'veryberry';
     margin-top: 0px;
   }
   .owner-image {
     width: 100%;
     max-width: 300px; /* Resmin genişliği */
     margin-top: 0.9rem;
     margin-bottom: 30px;
   }
   .counter-container {
     text-align: center;
     margin-top: 2rem;
     font-family: Arial, sans-serif;
   }
   
   .counter-container h2 {
     color: #990011;
     font-size: 2.2rem;
     margin-bottom: 1rem;
     font-family: 'veryberry';
   }
   
   .countdown {
    display: flex;
    gap: 15px;
    font-family: 'ms-regular', sans-serif;
    color: #990011;
    justify-content: center;
    font-size: 1.5rem;
  }
  
  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  
  .number {
    font-size: 35px;
  }
  
  .label {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
    color: #333;
    font-family: 'ms-light';
  }
  .separator {
    font-size: 30px;
    color: #990011;
  }