/* src/styles/Content.css */
@font-face {
     font-family: 'ms-regular';
     src: url('../assets/fonts/montserrat/ms-light.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'veryberry';
     src: url('../assets/fonts/veryberry.otf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
      font-family: 'melina';
      src: url('../assets/fonts/Melina.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }
.content-container {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     
   }
   
   .content-box {
     background-color: #fff; /* Arka plan rengi */
     padding: 2.3rem;
    
     color: #990011;
     max-width: 90%;
     text-align: center;
     
   }
   
   .content-box h1 {
     font-size: 2.4rem;
     margin-bottom: 0.5rem;
     font-family: 'veryberry', serif;
   }
   
   .content-box p {
     font-size: 1.2rem;
     margin: 0.5rem 0;
     line-height: 1.6;
     font-family: 'ms-light', serif;
     color:#333;
   }
   
   .content-box h3 {
     font-size: 2.3rem;
     margin: 0.8rem 0;
     font-family: 'veryberry', serif;
     color:#990011;
   }
   